
.background-gradient {
    background: linear-gradient(45deg, #48831cc4, #725e23ad);
}

form {
    display: grid;
    grid-template-columns: 1fr 2fr;
    gap: 10px 20px;
    width: 50%;
    margin-left: 25rem;
}

label {
    font-weight: bold;
    align-self: center;
    margin-left: 6rem;
}

input[type="text"],
input[type="number"],
input[type="date"],
textarea {
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 5px;
    font-size: 1rem;
    width: 100%;
}

textarea {
    resize: vertical;
    height: 100px;
}

button {
    grid-column: 1 / -1;
    padding: 10px 20px;
    background-color: #48831cc4;
    color: white;
    border: none;
    border-radius: 5px;
    font-size: 1rem;
    cursor: pointer;
    transition: background-color 0.3s ease;
    justify-self: center;
}

button:hover {
    background-color: #725e23ad;
}