/*----------MISE EN FORME GENERALE----------*/

@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

/* ---------- RESET STYLE ---------- */

*{
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
}

/* ---------- MISE EN FORME DU BODY ---------- */

body {
    background-image: url(../ASSETS/pexels-pixabay-33045.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    height: 100vh;
    font-family: 'Poppins', sans-serif;
    color: white;
}

main{
    font-size: 1.2rem;
    display: contents;
}

main > p{

    padding: 1rem;
    word-break: break-word;
    word-spacing: 10px;
}

/* ---------- Mise en forme du header ---------- */

header{
    display: flex;
    align-items: center;
    position: relative;
    height: 15rem;
    margin-top: 1rem;
    padding: 0 1rem;
    background: rgba(1, 21, 5, 0.4);
}

/* ---------- MISE EN FORME DES TITRES ---------- */

.divider{
    display: inline-block;
    height: 3px;
    background-color: white;
    width: 90%;
    margin-top: 8rem;
    position: relative;
    bottom: 2rem;
    left: 5%;
    margin-bottom: 5rem;
}

h1{
    color: white;
    margin-top: 5rem;
    font-size: 5rem;
    text-align: center;
    font-family: 'Poppins', sans-serif;
}

h2{
    width: 30rem;
    font-size: 3rem;
    margin-top: 5rem;
    margin-bottom: 5rem;
    cursor: pointer;
    margin-left: 5rem;
    text-decoration: underline;
    text-underline-position: under;
}

h3{
    font-size: 2.5rem;
    margin-top: 5rem;
    margin-bottom: 5rem;
    margin-left: 8rem;
    cursor: pointer;
    text-decoration: underline;
    text-underline-position: under;
    width: 25rem;
}


/*---------- MISE EN FORME DU LOGO IMG ---------*/

.logo{
    margin-left: 1rem;
    object-fit: cover;
    shape-outside: margin-box;
}


/*Mise en forme de la liste*/
li{
    list-style-type: none;
    margin: 0;
    padding: 0;
}

/*Mise en forme des éléments de la liste*/
a{
    text-decoration: none;
    font-size: 25px;
    color: white;
}


/*Application du Hover*/
a:hover{
    color: #cdf80b;
}


.ref{
    text-decoration: none;
    color:rgb(219, 84, 84);
    font-size: 20px;
    outline: none;
}


/*---------- MISE EN FORME DE LA NAVBAR ----------*/

.navbar{
    width: 100%;
    max-width: 1200px;
    height: 60px;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
    color: white;
}

/*Mise en forme de la liste*/
.navbar .links{
    display: flex;
    gap: 8rem;
    padding: 4rem;
}

/*Mise en forme du burger menu*/
.navbar .burger-menu-button{
    color: white;
    font-size: 1.5rem;
    cursor: pointer;
    display: none;
}

/*---Boutons contact---*/

/*Mise en forme des boutons*/
.buttons{
    display: flex;
    gap: 10px;
}

/*Stylisation du bouton contact/connexion*/

.action-button{
    background-color: greenyellow;
    color: black;
    border: 1px solid greenyellow;
    padding: 0.5rem 1.2rem;
    border-radius: 20px;
    outline: none;
    text-align: center;
    font-size: 0.9rem;
    font-weight: bold;
    cursor: pointer;
}

.action-button .connexion{
    background-color: transparent;
    color: white;
    border: 1px solid white;
}


/*Mise en place du survole pour le bouton contact */
.action-button:hover{
    color: white;
    border: 1px solid white;
}

/*Mise ne place du survole pour le bouton connexion*/
.connexion:hover{
    background-color: white;
    color: black;
}


/*---------- MISE EN FORME DU FORMULAIRE CONTACT ---------- */

.contacts{
    position: relative;
    text-align: center;
    margin-top: -10rem;
}

.contacts h2{
    color: white;
    font-size: 4rem;
    margin-top: 3rem;
    margin-bottom: 3rem;
    text-align: center;
    width: 95%;
    font-family: 'Poppins', sans-serif;
}

.contacts p{
    color: white;
    font-size: 3.2rem;
    margin-top: 3rem;
    margin-bottom: 3rem;
    font-family: 'Poppins', sans-serif;
}

.form{
    display: grid;
    justify-content: center;
    position: relative;
    border: solid green;
    width: max-content;
    margin-left: 36%;
    border-radius: 20px;
    padding: 20px;
}

.form input{
    width: 50rem;
    height: 30px;
    border-radius: 20px;
    margin: 10px;
    padding: 10px;
    border: 1px solid green;
}

.form textarea{
    width: 50rem;
    height: 100px;
    border-radius: 20px;
    margin: 10px;
    padding: 10px;
    border: 1px solid green;
}

.form label{
    color: white;
    font-size: 2rem;
    margin: 10px;
    font-family: 'Poppins', sans-serif;
}


.form button{
    width: 12rem;
    height: 4rem;
    border-radius: 20px;
    margin-left: 38%;
    padding: 10px;
    border: 1px solid green;
    background-color: green;
    color: white;
    font-size: 1.5rem;
    font-family: 'Poppins', sans-serif;
}


/* --------- MISE EN FORME DE CONNEXION ---------- */

/*Mise en place du bouton connexion*/

.login h1{
    font-size: 2rem;
}

.containers{
    background-color: transparent;
    color: white;
    border: 1px solid white;
    width: max-content;
    position: relative;
    left: 35%;
    border-radius: 20px;
    padding: 4rem;
}

.container h3{
    font-size: 2.5rem;
    margin-top: 1rem;
    margin-right: 1rem;
    padding: 0;
}

.container form{
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.container label{
    font-size: 1.5rem;
}

.container input{
    padding: 0.5rem;
    border-radius: 5px;
    border: 1px solid #ccc;
}

.container button{
    font-size: 1rem;
    padding: 0.5rem;
    border-radius: 5px;
    border: 1px solid #ccc;
    background-color: green;
    color: white;
    cursor: pointer;
}

.container button:hover{
    background-color: rgb( 173 , 255 , 47);
}


/*---------- MISE EN FORME DU POPUP ----------*/


/*Création fenêtre POPUP*/
.popup {
    display: none; /* Invisible par défaut */
    position: fixed; /* Reste en place même lorsque l'utilisateur fait défiler la page */
    z-index: 1; /* Se situe au-dessus de tout le reste sur la page */
    left: 0;
    top: 0;
    width: 100%; /* Largeur complète */
    height: 100%; /* Hauteur complète */
    overflow: auto; /* Permet de faire défiler si nécessaire */
    background-color: rgb(0,0,0); /* Couleur d'arrière-plan */
    background-color: rgba(0,0,0,0.4); /* Arrière-plan noir avec opacité */
    cursor: pointer;
}

/*Open popup*/
.openpopup{
    position: absolute;
    cursor: pointer;
    left: 15%;
    border: 2px solid #fffefe;
    border-radius: 10px;
    width: 3%;
    color: white;
    background-color: black;
    font-size: 20px;
    height: 20%;
}

/*Close popup*/
.popup .closepopup {
    position: absolute;
    top: 15rem;
    left: 10px;
    font-size: 3rem;
    cursor: pointer;
}

/*Mise en forme du texte avis*/
.avis{
    color: rgb(255, 255, 255);
    position: relative;/* Position fixe par rapport à la fenêtre de visualisation */
    left: 2rem;/* Aligné à droite */
    top: 32%;/* Centré verticalement */
    transform: translateY(-60%);/* Décale le titre vers le haut de sa propre hauteur pour le centrer parfaitement */
    width: max-content;
    font-size: 2rem;
    text-decoration: underline;
    text-underline-position: under;
}

/*Mise en forme de la liste des avis*/
#avis-list {
    list-style-type: none;
    padding: 0;
}

/*Mise en forme de chaque avis*/
#avis-list li {
    margin-bottom: 1rem;
    padding: 1rem;
    border: 1px solid #ccc;
    border-radius: 5px;
}

/* Style des étoiles */
.rating {
    display: flex;
    flex-direction: row-reverse;
    justify-content: flex-start;
    cursor: pointer;
    position: relative;
    right: 22rem;
}

.star {
    cursor: pointer;
    font-size: 2rem;
    color: gold;
}

.star.selected {
    color: gold;
}

.star.hover {
    color: lightgray;
}

/* ---------- MEDIA POPUP ---------- */
@media (max-width: 576px) {

    .avis{
        padding: 0rem;
        font-size: 10px;
        color: white;
        position: relative;
        left: 5%;
        top: 38%;
        transform: translateY(-50%);
        width: 70%;
    }

    .openpopup{
        cursor: pointer;
        left: 16rem;
        top: 5%;
        border: 2px solid #fffefe;
        border-radius: 10px;
        width: 12%;
        color: white;
        background-color: black;
        font-size: 10px;
        position: absolute;
        height: 6%;
    }

    .closepopup{
        top: 145px;
        left: 20px;
        color: white;
        position: relative;
    }
}

/* ---------- MISE EN FORME DU FOOTER --------- */
.footer {
    color: rgb(255, 255, 255);
    text-align: center;
    margin-top: 15rem;
    clear: both;
    position: relative;
    font-size: 20px;
    font-family: 'Poppins', sans-serif;
    }

/*---------------------Burger Menu-----------------*/



/*Mise en forme du burger menu*/
.burger-menu{
    display: none;
    height: 0;
    position: absolute;
    right: 2rem;
    top: 115px;
    width: 220px;
    background: black(0,0,0,0.2);
    backdrop-filter: blur(10px);
    border-radius: 10%;
    overflow: hidden;
    transition: height 0.2s cubic-bezier(0.175, 0.885, 0.32, 1.275);
}


/*Mise en place de l'ouverture du menu burger*/
.burger-menu.open{
    height: 170px;
    width: 50%;
}

/*Mise en forme des buttons*/
.burger-menu .action-button{
    display: flex;
    justify-content: center;
    align-items: center;
}


/*Mise en forme de la liste du burger menu*/
.button-burger-menu{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

/*Mise en forme de la liste du burger menu*/
.burger-menu li{
    padding: 0,7rem;
    display: flex;
    align-items: center;
    justify-content: center;    
}

.liste{
    margin: 0;
    display: flex;
    justify-content: space-around;
    text-align: center;
}

.liste ul{
    list-style-type: none;
    padding: 0;

}

.liste ul li{
    margin: 0;
    padding: 0;
    display: inline;
    font-size: 20px;
    margin-right: 20px;

}

/* ---------- MISE EN FORME DE LA PAGE ACCUEIL ---------- */



.articles{
    display: flex;
}

.articles .article{
    flex-wrap: wrap;
}


.articles .article img{
    display: flex;
    height: 25rem;
    width: 30rem;
    margin-left: 4.5rem;
    border-radius: 50px;
}

.articles .article img:hover{
    -webkit-transform: scale(1.3);
    transform: scale(1.3);
    position: relative;
} 

.articles .description{
    display: flex;
    position: relative;
    margin-left: -5rem;
    margin-right: 7rem;
    width: 37rem;
    height: 36rem;
    left: 5rem;
    padding: 3rem;
    font-size: 1.5rem;
    text-align: center;
    text-align-last: center;
    font-family: 'Poppins', sans-serif;
    background-color: rgba(24, 33, 4, 0.42);
    word-spacing: 8px;
    border: 0px solid;
    box-sizing: border-box;
    border-radius: 3rem;
}


/* ---------- MISE EN FORME DE LA PAGE ANIMAUX ---------- */



.infos {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.infos .info {
    display: flex;
    align-items: flex-start;
    margin-bottom: 20px;
}

.infos .info img {
    height: 24rem;
    width: 40rem;
    margin-left: 3rem;
    margin-right: 5rem;
    border-radius: 10px;
}

.infos .info:hover img {
    transform: scale(1.1);
}

.info .informations {
    display: flex;
    flex-direction: column;
    width: 30rem; /* Ajuster la largeur selon tes besoins */
    padding: 20px;
    font-size: 19px;
    background-color: rgba(24, 33, 4, 0.42);
    border-radius: 10px;
}

.info a {
    position: relative;
    display: inline-block;
}

.info .informations p {
    margin: 10px 0;
    text-align: left;
}

.info .informations .title {
    font-weight: bold;
    font-size: 1.2rem;
    text-align: center;
}

.heart-icon {
    position: absolute;
    bottom: 10px;
    right: 10px;
    /*color: rgba(85, 84, 84, 0.5); /* Rouge translucide */
}

/* ---------- MISE EN FORME DE LA PAGE HABITATS ---------- */
.habitats {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.habitats .habitat {
    flex-wrap: wrap;
}

.habitat h3 {
    font-size: 2.5rem;
    margin-top: 5rem;
    margin-bottom: 5rem;
    margin-left: 35rem;
    cursor: pointer;
    text-decoration: underline;
    text-underline-position: under;
    width: 25rem;
}

.habitats .habitat img {
    display: flex;
    height: 30rem;
    width: 40rem;
    margin-left: 18.5rem;
    border-radius: 50px;
}

/*.habitats .habitat:hover img {
    -webkit-transform: scale(1.3);
    transform: scale(1.3);
    position: relative;
}*/

.habitat .descriptifs {
    display: flex;
    position: relative;
    width: 40rem;
    height: 40rem;
    left: 18rem;
    padding: 3rem;
    font-size: 2rem;
    text-align: center;
    text-align-last: center;
    font-family: 'Poppins', sans-serif;
    background-color: rgba(24, 33, 4, 0.42);
    word-spacing: 8px;
    border: 0px solid;
    box-sizing: border-box;
    border-radius: 3rem;
    margin-bottom: 5rem;
}

/* ---------- MISE EN FORME DE LA PAGE ACTIVITES ---------- */



.services {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.services .service {
    display: flex;
    align-items: flex-start;
    margin-bottom: 20px;
}

.services .service h3 {
    font-size: 2.5rem;
    margin-top: 5rem;
    margin-bottom: 5rem;
    margin-left: 8rem;
    text-decoration: underline;
    text-underline-position: under;
    width: 35rem;
}

.services .service img {
    height: 24rem;
    width: 40rem;
    margin-left: 3rem;
    margin-right: 5rem;
    border-radius: 10px;
}

.services .service:hover img {
    transform: scale(1.1);
}

.service .serv {
    display: flex;
    flex-direction: column;
    padding: 1rem;
    width: 60rem;
    font-size: 2rem;
    background-color: rgba(24, 33, 4, 0.42);
    border-radius: 10px;
    top: 14rem;
    position: relative;
}

.service .serv p {
    margin: 10px 0;
    text-align: left;
}

.services_p {
    font-weight: bold;
    font-size: 2.2rem;
    text-align: center;
}


/*---------------------FOOTER-----------------*/

.footindex{
    color: white;
    text-align: center;
    margin-top: 40rem;
    clear: both;
    position: relative;
    font-size: 20px;
    font-family: 'Poppins', sans-serif;
}


/*---------------------RESPONSIVE-----------------*/


@media (max-width: 1375px) {

    /* ---------- MEDIA HEADER --------- */

header {
    background: none;
    }

    /*LOGO MENU BURGER*/
    .fa-solid, .fas {
        font-weight: 900;
        font-size: 2.5rem;
    }
    

.logo{
    margin-left: 1rem;
    object-fit: cover;
    shape-outside: margin-box;
    }

/*AVIS*/
.avis{
    font-size: 20px;
    color: white;
    position: relative;
    left: 2%;
    top: 34%;
    transform: translateY(-50%);
    width: 80%;
    }
        
#avis-list {
    list-style-type: none;
    padding: 0;
    padding-top: 1rem;
    }
    
.openpopup{
    cursor: pointer;
    left: 15rem;
    top: 6rem;
    border: 2px solid #fffefe;
    border-radius: 15px;
    width: 10%;
    color: white;
    background-color: black;
    height: 20%;
    font-size: 15px;
    }
    
.closepopup{    
    position: absolute;
    top: 10rem;
    left: 8px;
    font-size: 3rem;
    cursor: pointer;
    }

/*BURGER MENU*/

.navbar {
    width: 100%;
    max-width: 1200px;
    height: 60px;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
    color: white;
}
.navbar .links,
.navbar .action-button {
    display: none;
    }

.navbar .burger-menu-button{
    display: block;
    }

.burger-menu.open {
    height: 20rem;
    width: 30%;
    left: 45rem;
    }

.burger-menu{
    display: block;
    top: 10px;
    }

.burger-menu li a{
    font-size: 30px;
    }

.buttons-burger-menu{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
    }

.action-button{
    font-size: 10px;
    width: 70%;
    margin-bottom: 10px;
    }
    
.burger-divider{
    display: flex;
    position: relative;
    left: 10%;
    height: 2px;
    background-color: white;
    width: 80%;
    margin-top: 1rem;
    margin-bottom: 1rem;
    }


    /*---------- MEDIA FORMULAIRE CONTACT*/

.contacts{
    position: relative;
    text-align: center;
    bottom: 12rem;
}

.contacts h2{
    color: white;
    font-size: 3rem;
    margin-top: 3rem;
    margin-bottom: 3rem;
    margin-left: 23rem;
    text-align: center;
    width: 36%;
    font-family: 'Poppins', sans-serif;
}

.contacts p{
    color: white;
    font-size: 2.2rem;
    margin-top: 3rem;
    margin-bottom: 3rem;
    font-family: 'Poppins', sans-serif;
}

.form{
    display: grid;
    justify-content: center;
    position: relative;
    border: solid green;
    width: max-content;
    margin-left: 28%;
    border-radius: 20px;
    height: 40rem;
}

.form input{
    position: relative;
    left: 5rem;
    width: 40rem;
    height: 30px;
    border-radius: 20px;
    margin: 10px;
    padding: 10px;
    border: 1px solid green;
    text-align: center;
}

.form textarea{
    width: 50rem;
    height: 100px;
    border-radius: 20px;
    margin: 10px;
    padding: 10px;
    border: 1px solid green;
    text-align: center;
}

.form label{
    color: white;
    font-size: 20px;
    margin: 10px;
    font-family: 'Poppins', sans-serif;
}

.form button{
    width: 12rem;
    height: 4rem;
    border-radius: 20px;
    margin-left: 38%;
    padding: 10px;
    border: 1px solid green;
    background-color: green;
    color: white;
    font-size: 1.5rem;
    font-family: 'Poppins', sans-serif;
}

/* --------- MEDIA CONNEXION ---------- */

/*Mise en place du bouton connexion*/

.containers{
    background-color: transparent;
    color: white;
    border: 1px solid white;
    width: max-content;
    position: relative;
    left: 20%;
    margin-bottom: 10px;
    border-radius: 20px;
    padding: 4rem;
}

.container h3{
    font-size: 2.5rem;
    margin-top: 1rem;
    margin-right: 1rem;
    padding: 0;
}

.container form{
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.container label{
    font-size: 1.5rem;
}

.container input{
    padding: 0.5rem;
    border-radius: 5px;
    border: 1px solid #ccc;
}

.container button{
    font-size: 1rem;
    padding: 0.5rem;
    border-radius: 5px;
    border: 1px solid #ccc;
    background-color: green;
    color: white;
    cursor: pointer;
}

.container button:hover{
    background-color: rgb( 173 , 255 , 47);
}

    /* ---------- MEDIA TITRE ---------- */

.divider{
    left: 0%;
    height: 1px;
    background-color: white;
    width: 100%;
    bottom: 1%;
    }

h1{
    color: white;
    margin-top: 3rem;
    font-size: 3rem;
    text-align: center;
    font-family: 'Poppins', sans-serif;
    position: relative;
    top: 5rem;
    }

h2{
    width: 20rem;
    font-size: 2.25rem;
    margin-bottom: 5rem;
    cursor: pointer;
    margin-left: 26rem;
    position: relative;
    bottom: 0rem;
    text-decoration: underline;
    text-underline-position: under;
    text-align: center;
    }

h3{
    font-size: 2.5rem;
    margin-top: 5rem;
    margin-bottom: 5rem;
    margin-left: 8rem;
    cursor: pointer;
    text-decoration: underline;
    text-underline-position: under;
    width: 25rem;
    }

    /*----------- MEDIA ACCUEIL ----------*/

    .articles {
        display: flex;
        flex-direction: column;
        gap: 20px; /* Espacement entre les articles */
    }
    
    .article {
        display: flex;
        flex-direction: column;
        align-items: center; /* Centrer les images et les textes */
        text-align: center; /* Centrer le texte */
        margin-bottom: 2rem; /* Espacement en bas de chaque article */
    }
    
    .article img {
        max-width: 40rem;
        max-height: 25rem;
        position: relative;
        right: 4rem;
        cursor: pointer;
        margin-bottom: 4rem;
        margin-top: 1rem; /* Changer le curseur en pointer pour les images cliquables */
    }

    .articles .article img:hover{
        -webkit-transform: scale(1.3);
        transform: scale(1.3);
        position: relative;
    } 
    
    .article h3 {
        margin-top: 10px; /* Espacement entre l'image et le titre */
        margin-left: 0.5rem;
        font-size: 1.5em;
        
    }
    
    .article .description{
        display: flex;
        position: relative;
        width: 60rem;
        height: 20rem;
        left: -1rem;
        padding: 3rem;
        font-size: 25px;
        text-align: center;
        text-align-last: center;
        font-family: 'Poppins', sans-serif;
        background-color: rgba(24, 33, 4, 0.42);
        word-spacing: 8px;
        border: 0px solid;
        box-sizing: border-box;
        border-radius: 3rem;
    }


    /* ---------- MISE EN FORME DE LA PAGE ANIMAUX ---------- */



.infos {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.infos .info {
    display: flex;
    align-items: flex-start;
    margin-bottom: 20px;
}

.infos .info img {
    height: 24rem;
    width: 40rem;
    margin-left: 3rem;
    margin-right: 5rem;
    border-radius: 10px;
}

.infos .info:hover img {
    transform: scale(1.1);
}

.info .informations {
    display: flex;
    flex-direction: column;
    width: 300px; /* Ajuster la largeur selon tes besoins */
    padding: 20px;
    font-size: 1rem;
    background-color: rgba(24, 33, 4, 0.42);
    border-radius: 10px;
}

.info .informations p {
    margin: 10px 0;
    text-align: left;
}

.info .informations .title {
    font-weight: bold;
    font-size: 1.2rem;
    text-align: center;
}

    /* ---------- MEDIA HABITATS ---------- */

.habitats {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.habitat {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    margin-bottom: 2rem;
}

.habitat img {
    max-width: 40rem;
    max-height: 25rem;
    margin-bottom: 4rem;
    position: relative;
    right: 8rem;
    cursor: pointer;
    margin-top: 1rem;
}

.habitats .habitat:hover img {
    -webkit-transform: scale(1.3);
    transform: scale(1.3);
    position: relative;
}

.habitat h3 {
    margin-top: 10px;
    margin-left: 0.5rem;
    font-size: 1.5em;
    
}

.habitat .descriptifs {
    display: flex;
    position: relative;
    width: 60rem;
    height: 14rem;
    left: -1rem;
    padding: 3rem;
    margin-bottom: 1rem;
    font-size: 25px;
    text-align: center;
    text-align-last: center;
    font-family: 'Poppins', sans-serif;
    background-color: rgba(24, 33, 4, 0.42);
    word-spacing: 8px;
    border: 0px solid;
    box-sizing: border-box;
    border-radius: 3rem;
}

/* ---------- MEDIA ACTIVITES ---------- */



.services {
    display: flex;
    flex-direction: column;
    gap: 5rem;
}

.service {
    display: flex;
    flex-direction: column;
    align-items: center; /* Centrer les images et les textes */
    text-align: center; /* Centrer le texte */
    margin-bottom: 2rem;
}

.service img {
    max-width: 40rem;
    max-height: 25rem;
    position: relative;
    left: 13rem;
    cursor: pointer;
    border-radius: 26px;
}

.services .service:hover img {
    transform: scale(1.1);
}

.service h3 {
    margin-top: 10px; /* Espacement entre l'image et le titre */
    margin-left: 24.5rem;
    font-size: 1.5em;
    
}

.service .serv {
    display: flex;
    flex-direction: column;
    padding: 1rem;
    width: 60rem;
    font-size: 25px;
    background-color: rgba(24, 33, 4, 0.42);
    border-radius: 10px;
    position: relative;
    top: 5rem;
    left: 6rem;
}

.service .serv p {
    margin: 10px 0;
    text-align: left;
}

.services_p {
    position: relative;
    top: 6rem;
    font-weight: bold;
    font-size: 2.2rem;
    text-align: center;
}
    

.liste ul li{
    font-size: 10px;
    margin-right: 10px;
    display: grid;
    }



.tableaux{
    border-collapse: collapse;
    min-width: 400px;
    width: auto;
    overflow-x: auto;
    position: relative;
    left: 0rem;
    
    }

    
    /* ---------- MEDIA FOOTEUR ---------- */
.footer {
    color: rgb(255, 255, 255);
    text-align: center;
    margin-top: 15rem;
    clear: both;
    position: relative;
    font-size: 20px;
    font-family: 'Poppins', sans-serif;
    }

}



@media (max-width: 740px) {

    /* ---------- MEDIA HEADER --------- */

    header {
        background: none;
        }
    
        /*LOGO MENU BURGER*/
        .fa-solid, .fas {
            font-weight: 900;
            font-size: 2.5rem;
        }
        
    
    .logo{
        margin-left: 1rem;
        object-fit: cover;
        shape-outside: margin-box;
        }
    
    /*AVIS*/
    .avis{
        font-size: 20px;
        color: white;
        position: relative;
        left: 2%;
        top: 22%;
        transform: translateY(-50%);
        width: 50%;
        }
            
    #avis-list {
        list-style-type: none;
        padding: 0;
        padding-top: 1rem;
        }
        
    .openpopup{
        cursor: pointer;
        left: 15rem;
        top: 6rem;
        border: 2px solid #fffefe;
        border-radius: 50px;
        width: 10%;
        color: white;
        background-color: black;
        height: 20%;
        font-size: 15px;
        }
        
    .closepopup{    
        position: absolute;
        top: 11rem;
        left: 10px;
        font-size: 3rem;
        cursor: pointer;
        }
    
    /*BURGER MENU*/
    
    .navbar {
        width: 100%;
        max-width: 1200px;
        height: 60px;
        margin: 0 auto;
        display: flex;
        align-items: center;
        justify-content: space-between;
        color: white;
    }
    .navbar .links,
    .navbar .action-button {
        display: none;
        }
    
    .navbar .burger-menu-button{
        display: block;
        }
    
    .burger-menu.open {
        height: 20rem;
        width: 30%;
        left: 25rem;
        }
    
    .burger-menu{
        display: block;
        top: 10px;
        }
    
    .burger-menu li a{
        font-size: 25px;
        }
    
    .buttons-burger-menu{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 10px;
        }
    
    .action-button{
        font-size: 10px;
        width: 70%;
        margin-bottom: 10px;
        }
        
    .burger-divider{
        display: flex;
        position: relative;
        left: 10%;
        height: 2px;
        background-color: white;
        width: 80%;
        margin-top: 1rem;
        margin-bottom: 1rem;
        }
    
    
        /*---------- MEDIA FORMULAIRE CONTACT*/
    
    .contacts{
        position: relative;
        text-align: center;
        margin-top: -10rem;
    }
    
    .contacts h2{
        color: white;
        font-size: 2rem;
        margin-top: 3rem;
        margin-bottom: 3rem;
        margin-left: 23rem;
        text-align: center;
        width: 37%;
        font-family: 'Poppins', sans-serif;
    }
    
    .contacts p{
        color: white;
        font-size: 1.2rem;
        margin-top: 3rem;
        margin-bottom: 3rem;
        font-family: 'Poppins', sans-serif;
        left: 6rem;
        position: relative;
        text-align: left;
    }
    
    .form{
        display: grid;
        justify-content: center;
        position: relative;
        border: solid green;
        width: max-content;
        margin-left: 12%;
        border-radius: 20px;
        padding: 20px;
    }
    
    .form input{
        position: relative;
        left: 2.5rem;
        width: 25rem;
        height: 30px;
        border-radius: 20px;
        margin: 10px;
        padding: 10px;
        border: 1px solid green;
        text-align: center;
    }
    
    .form textarea{
        width: 30rem;
        height: 100px;
        border-radius: 20px;
        margin: 10px;
        padding: 10px;
        border: 1px solid green;
        text-align: center;
    }
    
    .form label{
        color: white;
        font-size: 20px;
        margin: 10px;
        font-family: 'Poppins', sans-serif;
    }
    
    .form button{
        width: 8rem;
        height: 3rem;
        border-radius: 20px;
        margin-left: 38%;
        padding: 10px;
        border: 1px solid green;
        background-color: green;
        color: white;
        font-size: 1rem;
        font-family: 'Poppins', sans-serif;
    }
    
    /* --------- MEDIA CONNEXION ---------- */
    
    /*Mise en place du bouton connexion*/
    .containers{
        background-color: transparent;
        color: white;
        border: 1px solid white;
        width: 30rem;
        position: relative;
        left: 3.5rem;
        top: 10%;
        border-radius: 20px;
        padding: 4rem;
    }
    
    .container h3{
        font-size: 2.5rem;
        margin-top: 1rem;
        margin-right: 1rem;
        padding: 0;
    }
    
    .container form{
        display: flex;
        flex-direction: column;
        gap: 10px;
    }
    
    .container label{
        font-size: 1.5rem;
    }
    
    .container input{
        padding: 0.5rem;
        border-radius: 5px;
        border: 1px solid #ccc;
        width: 20rem;
    }
    
    .container button{
        font-size: 1rem;
        padding: 0.5rem;
        border-radius: 5px;
        border: 1px solid #ccc;
        background-color: green;
        color: white;
        cursor: pointer;
        width: 21rem;
    }
    
    .container button:hover{
        background-color: rgb( 173 , 255 , 47);
    }
    
        /* ---------- MEDIA TITRE ---------- */
    
    .divider{
        left: 0%;
        height: 1px;
        background-color: white;
        width: 100%;
        bottom: 1%;
        }
    
    h1{
        color: white;
        margin-top: 3rem;
        font-size: 2.5rem;
        text-align: center;
        font-family: 'Poppins', sans-serif;
        position: relative;
        top: 5rem;
        }
    
    h2{
        width: 20rem;
        font-size: 2.25rem;
        margin-bottom: 5rem;
        cursor: pointer;
        margin-left: 15rem;
        position: relative;
        bottom: 0rem;
        text-decoration: underline;
        text-underline-position: under;
        text-align: center;
        }
    
    h3{
        font-size: 2.5rem;
        margin-top: 5rem;
        margin-bottom: 5rem;
        margin-left: 8rem;
        cursor: pointer;
        text-decoration: underline;
        text-underline-position: under;
        width: 25rem;
        }
    
        /*----------- MEDIA ACCUEIL ----------*/
    
        .articles {
            display: flex;
            flex-direction: column;
            gap: 20px; /* Espacement entre les articles */
        }
        
        .article {
            display: flex;
            flex-direction: column;
            align-items: center; /* Centrer les images et les textes */
            text-align: center; /* Centrer le texte */
            margin-bottom: 2rem; /* Espacement en bas de chaque article */
        }
        
        .article img {
            max-width: 40rem;
            max-height: 25rem;
            position: relative;
            right: 4.5rem;
            margin-bottom: 4rem;
            margin-top: 1rem;
            cursor: default;
        }

        .articles .article img:hover {
            -webkit-transform: none;
            transform: none;
            position: relative;}

        .article h3 {
            margin-top: 10px; /* Espacement entre l'image et le titre */
            margin-right: 3.5rem;
            font-size: 1.5em;
            
        }
        
        .article .description{
            display: flex;
            position: relative;
            width: 40rem;
            height: 20rem;
            padding: 2rem;
            font-size: 20px;
            text-align: center;
            text-align-last: center;
            font-family: 'Poppins', sans-serif;
            background-color: rgba(24, 33, 4, 0.42);
            word-spacing: 8px;
            border: 0px solid;
            box-sizing: border-box;
            border-radius: 3rem;
        }
    
    
        /* ---------- MISE EN FORME DE LA PAGE ANIMAUX ---------- */
    
    
    
    .infos {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
    }
    
    .infos .info {
        display: flex;
        align-items: flex-start;
        margin-bottom: 20px;
    }
    
    .infos .info img {
        height: 10rem;
        width: 15rem;
        margin-left: 3rem;
        margin-right: 5rem;
        border-radius: 10px;
        cursor: default;
    }
    
    .infos .info:hover img {
        transform: none;
    }
    
    .info .informations {
        display: flex;
        flex-direction: column;
        width: 320px;
        padding: 2px;
        font-size: 1rem;
        background-color: rgba(24, 33, 4, 0.42);
        border-radius: 10px;
        height: 20rem;
    }
    
    .info .informations p {
        margin: 10px 0;
        text-align: left;
    }
    
    .info .informations .title {
        font-weight: bold;
        font-size: 1.2rem;
        text-align: center;
    }
    
        /* ---------- MEDIA HABITATS ---------- */
    
    .habitats {
        display: flex;
        flex-direction: column;
        gap: 20px;
    }
    
    .habitat {
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;
        margin-bottom: 2rem;
    }
    
    .habitat img {
        max-width: 25rem;
        max-height: 20rem;
        margin-bottom: 4rem;
        position: relative;
        right: 8rem;
        cursor: default;
        margin-top: 1rem;
    }
    
    .habitats .habitat:hover img {
        -webkit-transform: none;
        transform: none;
        position: relative;
    }
    
    .habitat h3 {
        margin-top: 10px;
        margin-left: 3.5rem;
        font-size: 1.5em;
        
    }
    
    .habitat .descriptifs {
        display: flex;
        position: relative;
        width: 30rem;
        height: 16rem;
        left: 2rem;
        padding: 2rem;
        margin-bottom: 1rem;
        font-size: 20px;
        text-align: center;
        text-align-last: center;
        font-family: 'Poppins', sans-serif;
        background-color: rgba(24, 33, 4, 0.42);
        word-spacing: 8px;
        border: 0px solid;
        box-sizing: border-box;
        border-radius: 3rem;
    }
    
    /* ---------- MEDIA ACTIVITES ---------- */
    
    
    
    .services {
        display: flex;
        flex-direction: column;
        gap: 5rem;
    }
    
    .service {
        display: flex;
        flex-direction: column;
        align-items: center; /* Centrer les images et les textes */
        text-align: center; /* Centrer le texte */
        margin-bottom: 2rem;
    }
    
    .service img {
        max-width: 30rem;
        max-height: 15rem;
        position: relative;
        left: 0.5rem;
        cursor: default;
    }
    
    .services .service:hover img {
        transform: scale(1.1);
    }
    
    .service h3 {
        margin-top: 10px; /* Espacement entre l'image et le titre */
        font-size: 1.5em;
        position: relative;
        right: 12rem;
    }
    
    .service .serv {
        display: flex;
        flex-direction: column;
        padding: 1rem;
        width: 31rem;
        font-size: 20px;
        background-color: rgba(24, 33, 4, 0.42);
        border-radius: 10px;
        position: relative;
        top: 2rem;
        left: 7.5rem;
    }
    
    .service .serv p {
        margin: 10px 0;
        text-align: center;
    }
    
    .services_p {
        position: relative;
        top: 6rem;
        font-weight: bold;
        font-size: 1.5rem;
        text-align: center;
    }
        
    
    .liste ul li{
        font-size: 10px;
        margin-right: 10px;
        display: grid;
        }
    
    
    
    .tableaux{
        border-collapse: collapse;
        min-width: 400px;
        width: auto;
        overflow-x: auto;
        position: relative;
        left: 0rem;
        
        }
    
        
        /* ---------- MEDIA FOOTEUR ---------- */
    .footer {
        color: rgb(255, 255, 255);
        text-align: center;
        margin-top: 15rem;
        clear: both;
        position: relative;
        font-size: 20px;
        font-family: 'Poppins', sans-serif;
        }
    
    }