/*----------MISE EN FORME GENERALE----------*/

/* ---------- FONT FAMILY ---------- */
.comic-neue-regular {
    font-family: "Comic Neue", cursive;
    font-weight: 400;
    font-style: normal;
}

.comic-neue-bold {
    font-family: "Comic Neue", cursive;
    font-weight: 700;
    font-style: normal;
}

.comic-neue-light-italic {
    font-family: "Comic Neue", cursive;
    font-weight: 300;
    font-style: italic;
}

.comic-neue-regular-italic {
    font-family: "Comic Neue", cursive;
    font-weight: 400;
    font-style: italic;
}

.comic-neue-bold-italic {
    font-family: "Comic Neue", cursive;
    font-weight: 700;
    font-style: italic;
}

/* ---------- RESET STYLE ---------- */
* {
    margin: 0;
    padding: 0;
    font-family: 'Comic Neue', sans-serif;
}

/* ---------- MISE EN FORME DU BODY ---------- */

/* ---------- MISE EN FORME DU BODY ---------- */
body {
    font-family: 'Comic Neue', sans-serif;
    height: 180vh;
}

.background-gradient {
    position: fixed;
    top: 0%;
    left: 0;
    width: 100%;
    height: 125vh;
    background: linear-gradient(to bottom, #48831cc4, #725e23ad);
    z-index: -2;
}

.title h6{
    font-size: 10px;
    position: relative;
    right: 19rem;
    width: 8.5rem;
}

main {
    font-size: 1.2rem;
    display: contents;
    z-index: 3;
    position: relative;
}

main > p{

    padding: 1rem;
    word-break: break-word;
    word-spacing: 10px;
}

/* ---------- MISE EN FORME DES TITRES ---------- */

.divider{
    display: inline-block;
    height: 3px;
    background-color: white;
    width: 90%;
    margin-top: 8rem;
    position: relative;
    bottom: 2rem;
    left: 5%;
    margin-bottom: 5rem;
}


h1 {
    color: white;
    margin-top: 5rem;
    font-size: 5rem;
    text-align: center;
    font-family: 'Comic Neue', sans-serif;
}

h2 {
    color: white;
    font-size: 3rem;
    text-align: center;
    font-family: 'Comic Neue', sans-serif;
}

h3{
    font-size: 2.5rem;
    margin-top: 5rem;
    margin-bottom: 5rem;
    margin-left: 8rem;
    text-decoration: underline;
    text-underline-position: under;
    width: 25rem;
}

/* Ajoutez des styles pour la section de description du zoo */
.description-zoo {
    padding: 20px;
    margin: 45px 20px 20px 20px;
    background-color: bisque;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.description-zoo h2 {
    font-size: 2em;
    margin-bottom: 10px;
}

.description-zoo p {
    font-size: 1.2em;
    line-height: 1.6;
    margin-bottom: 10px;
}
/*---------- MISE EN FORME DU LOGO IMG ---------*/



/*---Boutons contact---*/

/*Mise en forme des boutons*/
.buttons{
    display: flex;
    gap: 10px;
}

/*Stylisation du bouton contact/connexion*/

.action-button{
    background-color: greenyellow;
    color: black;
    border: 1px solid greenyellow;
    padding: 0.5rem 1.2rem;
    border-radius: 20px;
    outline: none;
    text-align: center;
    font-size: 0.9rem;
    font-weight: bold;
    cursor: pointer;
}

.action-button .connexion{
    background-color: transparent;
    color: white;
    border: 1px solid white;
}


/*Mise en place du survole pour le bouton contact */
.action-button:hover{
    color: white;
    border: 1px solid white;
}

/*Mise ne place du survole pour le bouton connexion*/
.connexion:hover{
    background-color: white;
    color: black;
}




/* --------- MISE EN FORME DE CONNEXION ---------- */

/*Mise en place du bouton connexion*/

.login h1{
    font-size: 2rem;
}

.containers{
    background-color: transparent;
    color: white;
    border: 1px solid white;
    width: max-content;
    position: relative;
    left: 35%;
    border-radius: 20px;
    padding: 4rem;
}

.container h3{
    font-size: 2.5rem;
    margin-top: 1rem;
    margin-right: 1rem;
    padding: 0;
}

.container form{
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.container label{
    font-size: 1.5rem;
}

.container input{
    padding: 0.5rem;
    border-radius: 5px;
    border: 1px solid #ccc;
}

.container button{
    font-size: 1rem;
    padding: 0.5rem;
    border-radius: 5px;
    border: 1px solid #ccc;
    background-color: green;
    color: white;
    cursor: pointer;
}

.container button:hover{
    background-color: rgb( 173 , 255 , 47);
}

@media (min-width: 1903px) and (min-height: 1512px) {
    .divider {
        width: 85%;
        margin-top: 10rem;
        margin-bottom: 6rem;
    }

    h1 {
        font-size: 6rem;
        margin-top: 6rem;
    }

    h2 {
        font-size: 4rem;
    }

    h3 {
        font-size: 3rem;
        margin-top: 6rem;
        margin-bottom: 6rem;
        margin-left: 10rem;
        width: 30rem;
    }

    .description-zoo {
        padding: 30px;
        margin: 60px 30px 30px 30px;
    }

    .description-zoo h2 {
        font-size: 3rem;
    }

    .description-zoo p {
        font-size: 1.5rem;
    }
}